.hiddenbeforefirstshop1{
  visibility: hidden;
}
.hiddenbeforefirstshop2{
  visibility: hidden;
}
.hiddenbeforefirstshop3{
  visibility: hidden;
}
#usehealthpot{
  visibility: hidden;
}
#usemanapot{
  visibility: hidden;
}
#shopbuybutton{
  visibility: hidden;
}
#explorecave{
  visibility: hidden;
}
#exploretown{
  visibility: hidden;
}
#exploretower{
  visibility: hidden;
}
.hiddenatstart{
  visibility: hidden;
}
.spell1class{
  visibility: hidden;
}
.spell2class{
  visibility: hidden;
}
.spell3class{
  visibility: hidden;
}
.spell4class{
  visibility: hidden;
}
.spell5class{
  visibility: hidden;
}
.spell6class{
  visibility: hidden;
}
.spell7class{
  visibility: hidden;
}
