<div class="container">
	<div class="row">
		<figure class="col-sm-2">
			<img width="150px" height="150px" src="image/blog/face.jpg"/>
		</figure>
		<div class="col-sm-8" ng-controller="BlogController">
			<h2>{{ entrys[params.id].title }}</h2>
			<p>{{ entrys[params.id].intro }}</p>
		</div>
		<p>{{ entrys[params.id].date }}<p>
	</div>
</div>

<div class="container" id="blog" ng-controller="BlogController" ng-repeat="item in entrys[params.id].content">
	<div class="row">
		<p>{{ item.heading }}</p>
		<p>{{ item.text }}</p>
	</div>
	<div ng-repeat="photo in item.photos" class="row">
		<a href="{{ photo.url }}"><img ng-src="{{ photo.url }}"></a>
		<p>{{ photo.location }} {{ photo.date }} {{ photo.comment }}</p>
	</div>
</div>
