body {
  padding-top: 150px;
  display: inline;
  display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  text-align: center;
  align-content: center;
}

#title {
  color: red;
}

.row {
  padding: 25px;
}
