<div class="editmember" ng-controller="MembersController">

  <div class="row">
    <div class="col-sm-4">
      <h3>Member ID: {{ params.id }}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <form>
        First Name: <input type="text" ng-model="firstname"> <br>
        Last Name: <input type="text" ng-model="lastname"> <br>
        Date of Birth: <input type="text" ng-model="dob"> <br>
        Bio: <input type="text" ng-model="bio"> <br>
        <input type="button" value="submit" ng-click="submit();">
      </form>
    </div>
  </div>

</div>
