<div class="editmember" ng-controller="MembersController">

  <div class="row">
    <div class="col-sm-4">
      <h3>Member ID: {{ params.id }}</h3>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="col-sm-2">
        <p>First Name:</p>
      </div>
      <div class="col-sm-4">
        <input type="text" ng-model="firstname">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <p>Last Name:</p>
      </div>
      <div class="col-sm-4">
        <input type="text" ng-model="lastname"> <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <p>Date of Birth:</p>
      </div>
      <div class="col-sm-4">
        <input type="text" ng-model="dob"> <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <p>Bio:</p>
      </div>
      <div class="col-sm-4">
        <input type="text" ng-model="bio"> <br>
      </div>
    </div>

    <div class="row">
      <input type="button" value="submit" ng-click="submit();">
    </div>
  </form>

</div>
