<table id="memberstable" ng-controller="MembersController">
  <th>
    <td><b>Name</b></td>
    <td><b>No. of Games</b></td>
    <td><b>Join Date</b></td>
  </th>
  <tbody ng-repeat="member in members">
    <tr>
      <td><a href="#/members/{{$index}}">{{ $index }}</a></td>
      <td><a href="#/members/{{$index}}">{{ member.name }}</a></td>
      <td><a href="#/members/{{$index}}">{{ member.games }}</a></td>
      <td><a href="#/members/{{$index}}">{{ member.joindate }}</a></td>
    </tr>
  </tbody>
</table>
