<div class="viewmember" ng-controller="MembersController">
  <div class="row">
    <div class="col-sm-6">
      <h3>Name: {{ currentmember(params.id).firstname }} {{ currentmember(params.id).lastname }}</h3>
    </div>
    <div class="col-sm-4">
      <h3>Member ID: {{ currentmember(params.id).id }}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <p>Date of Birth: {{ currentmember(params.id).dob }}</p>
      <p>Joined: {{ currentmember(params.id).joindate }}</p>
      <p>Games Played: {{ getnumgames(currentmember(params.id)) }}</p>
      <p>Wins: {{ getwins(currentmember(params.id)) }}</p>
      <p>Losses: {{ getlosses(currentmember(params.id)) }}</p>
      <p>High Score: {{ gethighscore(params.id,"score") }}, Against: {{ gethighscore(params.id,"opponent") }}, On: {{ gethighscore(params.id,"date") }}</p>
      <p>Average Score: {{ getaveragescore(params.id) }}</p>
      <br>
      <h4><b>Bio</b></h4>
      <p>{{ currentmember(params.id).bio }}</p>
    </div>
    <div class="col-sm-4">
      <a ng-href="#/editmember/{{params.id}}" class="btn btn-default">Edit Details</a>
      <table title="Last 10 Games" id="games">
        <caption>Last 10 Games</caption>
        <th>
          <td>Score</td>
          <td>Opponent</td>
          <td>Opponent's Score</td>
          <td>Date</td>
        </th>
        <tbody ng-repeat="game in currentmembergames(params.id) | orderBy:sortType='date':sortReverse">
          <tr>
            <td></td>
            <td>{{ game.score }}</td>
            <td><a ng-href="#/members/{{ game.opponentid }}">{{ game.opponentname }}</a></td>
            <td>{{ game.opponentscore }}</td>
            <td>{{ game.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
