<a ng-href="#/addnewmember" class="btn btn-default">Add New Member</a>
<table id="members" ng-controller="MembersController">
  <caption>Members</caption>
  <th>
    <td><b>Name</b></td>
    <td><b>No of Games</b></td>
    <td><b>Join Date</b></td>
  </th>
  <tbody>
    <tr ng-repeat="member in members | orderBy:sortType='id':sortReverse">
      <td>{{ member.id }}</td>
      <td><a ng-href="#/members/{{member.id}}">{{ member.firstname }} {{ member.lastname }}</a></td>
      <td>{{ getnumgames(member); }}</td>
      <td>{{ member.joindate }}</td>
    </tr>
  </tbody>
</table>
