body {
  padding: 50px;
  border-style: solid;
  border-color: black;
  border-width: 10px;
}

.col-sm-3 {
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin: 5px;
}
