<form role="form" ng-submit="book($event,this)" >

  <h3>New Booking</h3>

  <div class="form-group">
    <label class="control-label" for="date">Date: </label>
    <input type="date" class="form-control" ng-model="date" name="date">
  </div>

  <div class="form-group">
    <label class="control-label" for="date">Name: </label>
    <input type="text" class="form-control" ng-model="name" name="name">
  </div>

  <div class="form-group">
    <label class="control-label" for="date">Phone #: </label>
    <input type="number" class="form-control" ng-model="phone" name="phone">
  </div>

  <input type="submit" id="submit" value="Submit">

</form>

<button ng-click="state.go('home')">Back</button>
